/* ================================= 
  Element Styles
==================================== */

* {
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: 'Lato', sans-serif;
  color: #4c4c4c;
  background: #DDD;
  line-height: 1.5
}
h1 {
  color: white;  
}
h1 {
  text-shadow: 0 1px 0 rgba(0,0,0, .4);
  line-height: .65;
  margin-top: .5em;
  margin-bottom: 0;
}
h2 {
  margin-top: 0;
}
p {
  color: #333333;
  font-size: 1.1em;
  text-shadow: 0 1px 0 rgba(0,0,0, .25);
}
ul {
  list-style: none;
  padding: 0;
  margin: 2em 0 1em;
}
ul li {
  background: #fff;
  border-radius: .2em;
  border: solid 2px steelblue;
  position: relative;
}
ul li a {
  display: block;
  text-decoration: none;
  color: #707070;
  font-size: 1.3em;
  padding: 1em;
  width: 100%;
  height: 100%;
}
header ul li:hover {
  border: solid 2px #000000; 
}
ul li:hover {
  border: solid 2px #333333;
}
nav {
  margin-top: 4.25em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  position: relative;
  z-index: 3000;
}
header {
  text-align: center;
  background: linear-gradient(90deg, #d4eece, #55b3d0, #1e7eb7),
              url('./images/header-bg.jpg') no-repeat;
              background-blend-mode: overlay;    
              background-size: cover;   
  z-index: 1;
}
li span {
  color: #707070;
  font-size: 1.3em;
  margin-bottom: .3em;
}
li span {
  display: block;
}
.wrapper {
  width: 100%;
  max-width: 900px;
  margin: 2.5em auto;
  border-radius: .35em;
  background: #fcfcfc;
  overflow: hidden;
  box-shadow: 0 0 26px rgba(0,0,0, .13);
}
.me {
  display: block;
  margin: 0 auto;
  width: 25%;
  border-radius: 50%;
}

.push,
.footer {
  height: 75px;
}

.footer {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}
/* ================================= 
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 768px) {
  header {
    padding: 1.25em;
  }
  h1 {
    font-size: 3.6em;
    margin: .3em 0 0;
  }
  ul li {
    margin-bottom: 1em;
  }
  .wrapper {
    margin: 0;
  }
  .main {
    padding: 2em 1em .75em;
  }
}

@media (min-width: 769px) {
  header {
    height: 280px;
    padding: 2.5em 1em 1em;  
    background-position: 0 -95px; 
  }
  .main > div {
    float: right;
    width: 30%;
    max-width: 30%;
    display: inline-block;
    margin-top: 12px;
    margin-right: 1.25%;
    margin-bottom: 3%;
  }
  h1 {
    font-size: 5.8em;
  }
  h2 {
    font-size: 1.9em;
    margin-left: 1.25%;
  }
  form {
    margin: 4.15em auto 0;
    z-index: 3000;
    position: relative;
  }
  .wrapper {
    width: 90%;
  }
  .main {
    padding: 3.8em 1.5em .75em;
    position: relative;
    z-index: 10;
  }
  ul {
    display: -webkit-flex;
    display: flex;
    clear: both;
    
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;    
    flex-wrap: wrap;
    padding-top: 1.25em;
  }
  ul li {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-basis: 47.5%;
    flex-basis: 47.5%;
    margin: 0 1.25% 1em;
  }
}
@media (min-width: 880px) { 
  ul li {
    -webkit-flex-basis: 20%;
    flex-basis: 20%;
  }
}
